.topnav {
    overflow: hidden;
    background-color: #4B545C;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a.inactive:hover {
    background-color: #4D4B5C;
    color: black;
}

a.active {
    background-color: #5546DB;
    color: white;
    height: 100%;
}


.BlankButton {
    color: #f2f2f2;
    background: none;
    border: none;
    height: 100%;
    width: 100%;
}