
.LoginButton{
   margin-top: 20%;
   background-color: rgb(212, 113, 113);
   border: none;
   padding: 50px 70px 50px 70px;
   border-radius: 20%;
}

.LoginButton:hover{
    background-color:rgb(202, 126, 126); 
}

.LoginObject{
    position: absolute;
    display: block;
    width: 45%;
    height: 45%;
    border: solid;
    top: 0;
    left: 0;
}